*
!app.json
!eas.json
!eslint.config.js
!package.json
!package-lock.json
!tsconfig.json
!assets/
!assets/**
!src/
!src/**

.env
.env.*
.expo/
dist/
node_modules/
*.jks
*.keystore
*.p8
*.p12
*.pem
*.key
*.mobileprovision
